.onload {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/blue_nebulae_3.png);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader-wrapper p {
    margin-top: 20px;
    color: #dbdbdb;
    font-size: 23px;
    font-weight: 300;
    margin-left: 10px;
}